
<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <!-- Paste the HTML here -->
      <div class="post-user-name">
        <!-- Fill in the src attribute to display @user's profile image -->
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <!-- Add a link to the "User details" page using the link_to method -->
        <%= link_to(@user.name, "/users/#{@user.id}") %>
      </div>
      <p>
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>
      <div class="post-menus">
        <%= link_to("Edit", "/posts/#{@post.id}/edit") %>
        <%= link_to("Delete", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>
